.headerClass {
  background-color: #f9d64b;
  text-align: center;
  height: 230px;
  border-bottom: 21px solid #f3db7a;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}
.logo {
  transform: scale(0.7);
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -10px;
}
.CardChoice-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  gap: 60px;
}
.CardChoiceClass {
  display: flex;
  justify-content: center;
  background-color: #2a4fd3;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 400px;
  height: 500px;
}
.Ouclass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #e74045;
  font-size: 48px;
  font-weight: bold;
  font-family: "Chivo Black", sans-serif;
}
.innerCardclass {
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  background-color: #f8f8f8;
  width: 300px;
  height: 420px;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
}
.cardlogoclass {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  border-radius: 5px;
}
.cardplaceholderclass {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-family: "Chivo Black", sans-serif;
  font-size: 20px;
}
.bc_item_selected {
  outline: solid 5px red;
}
.LoginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.formulaire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  border-radius: 5px;
  border: 1px solid #e74045;
}
input {
  width: 180px;
  height: 30px;

  font-size: 20px;
  font-family: "Chivo Black", sans-serif;
  font-weight: bold;
  margin: 10px;
}

.form_Btn {
  width: 180px;
  height: 40px;
  border-radius: 5px;
  padding: 4px;
  border: 1px solid #e74045;
  font-size: 20px;
  font-family: "Chivo Black", sans-serif;
  font-weight: bold;
  margin: 10px;
  background-color: #e74045;
  color: #f8f8f8;
}
/* Code realtif au Lobby */
.Lobby {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 32px;
  margin-top: 32px;
}
/* Blue card classes */
.Blue_card {
  display: flex;
  flex-direction: column;
  background-color: #2a4fd3;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 400px;
  height: 500px;
  color: white;
  padding: 8px;
}

.Blue_card_title {
  font-size: 32px;
  font-weight: 900;
  font-family: "Chivo Black", sans-serif;
  padding-left: 15px;
  margin: 0px 0px 8px 0px;
}

.Blue_card_content h5 {
  font-size: 24px;
  font-weight: bold;
  font-family: "Chivo Black", sans-serif;
  padding-left: 15px;
  margin: 8px 0px 16px 0px;
}
.bc_section {
  margin-bottom: 16px;
}
.bc_grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 32px;
}
.bc_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-family: "Chivo Black", sans-serif;
  font-weight: 900;
  background-color: #fff;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 4px;
  width: 75px;
  height: 75px;
  color: black;
}
/* User_lists */
.User_lists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 24px;
  font-family: "Chivo Black", sans-serif;
  font-weight: 900;
  border-radius: 10px;
  padding: 4px;
  gap: 8px;
}
.User_Card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: black;
  padding: 8px;
}
/* game-view */
.game-view {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 64px;
}
/* game-board */
.game-board {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
  gap: 32px;
}
.game-board__head {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.game-board__body {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

/*Turnn*/
.turn--enabled {
  display: block;
}
.turn--disabled {
  display: none;
}

/*Loadbar*/
.load-bar {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 6px;
  background-color: #fdba2c;
}
.bar {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
}
.bar:nth-child(1) {
  background-color: #da4733;
  animation: loading 3s linear infinite;
}
.bar:nth-child(2) {
  background-color: #3b78e7;
  animation: loading 3s linear 1s infinite;
}
.bar:nth-child(3) {
  background-color: #fdba2c;
  animation: loading 3s linear 2s infinite;
}
@keyframes loading {
  from {
    left: 50%;
    width: 0;
    z-index: 100;
  }
  33.3333% {
    left: 0;
    width: 100%;
    z-index: 10;
  }
  to {
    left: 0;
    width: 100%;
  }
}
.loadertxt {
  margin-top: 10px;
  font-family: "Chivo Black", sans-serif;
  font-size: 25px;
  text-align: center;
}
.partycode {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Chivo Black", sans-serif;
  font-size: 20px;
  padding-left: 12px;

}
/*Winnercard*/
.WinnerCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.WinnerCard__img{
  width: 100px;
  height: 100px;
  padding-bottom: 4px;
}
.WinnerCard__title{
  font-size: 32px;
  font-weight: 900;
  margin-bottom: -4px;
}