.headerClass {
  background-color: #f9d64b;
  text-align: center;
  height: 230px;
  border-bottom: 21px solid #f3db7a;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}
.logo {
  transform: scale(0.7);
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -10px;
}
.CardChoice-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  gap: 60px;
}
.CardChoiceClass {
  display: flex;
  justify-content: center;
  background-color: #2a4fd3;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 400px;
  height: 500px;
}
.Ouclass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #e74045;
  font-size: 48px;
  font-weight: bold;
  font-family: "Chivo Black", sans-serif;
}
.innerCardclass {
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  background-color: #f8f8f8;
  width: 300px;
  height: 420px;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
}
.cardlogoclass {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  border-radius: 5px;
}
.cardplaceholderclass {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-family: "Chivo Black", sans-serif;
  font-size: 20px;
}

.LoginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.formulaire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  border-radius: 5px;
  border: 1px solid #e74045;
}
input{
  width: 180px;
  height: 30px;
  
  font-size: 20px;
  font-family: "Chivo Black", sans-serif;
  font-weight: bold;
  margin: 10px;
}
.form_Btn {
  width: 180px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #e74045;
  font-size: 20px;
  font-family: "Chivo Black", sans-serif;
  font-weight: bold;
  margin: 10px;
  background-color: #e74045;
  color: #f8f8f8;
}