.big-display-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 87px;
  background: #f8f8f8;
  border: 1px solid #000000;
}

.big-display__text--black {
  font-size: 32px;
  font-weight: 1000;
  font-style: oblique;
  color: #000;
  font-family: "Chivo Black", sans-serif;
}

.big-display-primary input {
  border: 0;
  background: transparent;
  font-size: 32px;
  font-weight: 1000;
  font-style: oblique;
  color: #000;
  font-family: "Chivo Black", sans-serif;
}
.big-display-primary input:focus-visible {
  outline: 0;
}
